teste
teste.txt
teste.html
teste.css 
teste.js
testes.html 
testes.css 
testes.js 
.tmp 
teste.console.js 
testes.console.js 
teste/ 
testes/ 
**/teste 
**/testes 
.vscode/ 
**/.vscode 
Teste.html 
Teste.css 
Teste.js 
Testes.html 
Testes.css 
Testes.js 
.tmp 
Teste.console.js 
Testes.console.js 
Teste/ 
Testes/ 
**/Teste 
**/Testes .vscode/
Teste.css
Teste.js
Teste.html
