*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e2effa;
}


.login-background{
    width: 100%;
    height: 100%;
    background-color: #5808b3;
    z-index: 999;
    position: absolute;
    padding-top: 100px;
    transition: 0.5s;
}

.login-wrap{
    width: 350px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    row-gap: 10px;
}

.auth-title{
    margin-bottom: 30px;
}

.login-wrap input, .login-wrap button{
    width: 80%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: solid 3px #44f3ff;
}

.login-wrap button{
    background-color: #44f3ff;
}

.login-wrap button:disabled{
    background-color: rgba(68, 243, 255, 0.521);
}

nav {
    height: 50px;
    background-image: linear-gradient(190deg,#5808b3 60%, #00ddec );
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button, nav input{
    padding: 3px 8px;
    color: #5808b3;
}

#search-container .searched-movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    column-gap: 10px;
    row-gap: 15px;
    list-style-type: none;
}

.movie{
    width: 130px;
    height: 240px;
    margin:0;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
}

.movie .cover{
    width: 130px;
    height: 190px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* background-image: url('https://image.tmdb.org/t/p/w220_and_h330_face/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie .cover .rate{
    width: 15px;
    height: 15px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    color: black;
    border-radius: 50%;
}

.movie .cover .add-remove-movie{
    width: 30px;
    height: 30px;
    align-self: flex-end;
    box-sizing: border-box;
}

.movie .cover .add-remove-movie img, .list .add-remove-movie{
    width: 100%;
    border-radius: 50%;
    object-fit:cover;
    object-position: center;
}

#search-container .searched-movie-list .movie .cover .add-to-list-window {
    width: 130px;
    padding: 10px 5px;
    box-sizing: border-box;
    position:absolute;
    top: 78%;
    left: 0;
    background-color: #ffffff;
    color: #410585;
    font-size: 14px;
    border: solid grey 1px;
    flex-direction: column;
    z-index: 998;
}

.none{
    display: none;
}

.flex {
    display: flex;
}

.add-to-list-window li:hover, .add-to-list-window span:hover{
    font-weight: bold;
}


.add-to-new-list-title {
    margin-left: 20px;
}

#search-container .searched-movie-list .movie .cover .add-to-list-window ul{
    list-style-type: none;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.add-to-list-window li{
    display: flex;
    column-gap: 5px;
}

.lists-to-add-movie-in span {
    width: 100px;
    word-wrap: break-word;
}

.lists-to-add-movie-in .done{
    min-width: 15px;
    height: 15px;
}

.check-done{
    background-image: url('./src/assets/images/check.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.movie .title{
    width: 130px;
    min-height:30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #410585;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    border-top:#410585 solid 1px ;
    border-bottom: 5px solid #410585;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.create-list-background{
    width: 100%;
    height: 100%;
    background-color: #d3bcfda8;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding-top: 100px;
    transition: 0.5s;
}

.create-list-wrap{
    width: 550px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    row-gap: 20px;
}

.list-title-input{
    margin-bottom: 30px;
}

.create-list-wrap input, .create-list-wrap textarea, #submit-new-list-button {
    width: 80%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: solid 3px rgb(68, 243, 255);
    resize: none;
}

.create-list-wrap button{
    background-color: rgb(68, 243, 255);
}

.create-list-wrap button:disabled{
    background-color: rgba(68, 243, 255, 0.521);
}

#create-list-back-button{
    align-self: flex-start;
    width: 70px;
    margin-left: 55px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#my-lists-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

#my-lists{
    background-color:#c2d1dd;
    min-height: 0;
    height: 0px;
    overflow: hidden;
    transition: 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-lists #create-list {
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: rgb(88, 8, 179);
    border: none;
    border-bottom: 2px solid #d3bcfd;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
}

#my-lists #list-of-lists {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    

}

#my-lists #list-of-lists li{
    padding: 10px;
    font-size: 30px;
    background-color: rgba(119, 0, 255, 0.24);
    border-bottom: 2px solid #5808b3;
    border-radius: 5px;
}

.list-wrapper{
    width: 100%;
    min-height: 100%;
    max-height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #c2d1dd;
    position: absolute;   
    z-index: 999;
    display: none;
    box-sizing: border-box;
}

.list-wrapper header{
    width: 50%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-wrapper .back, .list-wrapper .remove-list{
    padding: 5px 10px;
    background-color: #5808b3;
    color: aliceblue;
    border-radius: 5px;

}

.list-info{
    width: 50%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.list-info .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.list-info .description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    column-gap: 10px;
    row-gap: 15px;
    list-style-type: none;
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-top: 1px rgba(201, 201, 201, 0.726) solid;
    background-color: whitesmoke;
}

footer .networks{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

footer .networks .instagram-logo, .linkedin-logo, .twitter-logo, .whatsapp-logo{
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.instagram-logo{
    background-image: url('./src/assets/images/instagram-logo.png');
}

.linkedin-logo{
    background-image: url('./src/assets/images/linkedin-logo.png');
}

.twitter-logo{
    background-image: url('./src/assets/images/twitter-logo.png');
}

.whatsapp-logo{
    background-image: url('./src/assets/images/whatsapp-logo.png');
}




