*{
    margin: 0;
    padding: 0;
}

.login-background{
    width: 100%;
    height: 100%;
    background-color: rgb(88, 8, 179);
    z-index: 999;
    position: absolute;
    padding-top: 100px;
    transition: 0.5s;
}

.login-wrap{
    width: 350px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    row-gap: 10px;
}

.auth-title{
    margin-bottom: 30px;
}

.login-wrap input, .login-wrap button{
    width: 80%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: solid 3px rgb(68, 243, 255);
}

.login-wrap button{
    background-color: rgb(68, 243, 255);
}

.login-wrap button:disabled{
    background-color: rgba(68, 243, 255, 0.521);
}

.create-list-background{
    width: 100%;
    height: 100%;
    background-color: #d3bcfda8;
    z-index: 999;
    position: absolute;
    display: none;
    padding-top: 100px;
    transition: 0.5s;
}

.create-list-wrap{
    width: 550px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    row-gap: 20px;
}

.list-title-input{
    margin-bottom: 30px;
}

.create-list-wrap input, .create-list-wrap textarea, #submit-new-list-button {
    width: 80%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: solid 3px rgb(68, 243, 255);
    resize: none;
}

.create-list-wrap button{
    background-color: rgb(68, 243, 255);
}

.create-list-wrap button:disabled{
    background-color: rgba(68, 243, 255, 0.521);
}

#create-list-back-button{
    align-self: flex-start;
    width: 70px;
    margin-left: 55px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#my-lists{
    background-color:aliceblue;
    padding: 30px;
}

#my-lists #create-list {
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: rgb(88, 8, 179);
    border: none;
    border-bottom: 2px solid #d3bcfd;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
}

#my-lists #list-of-lists {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

#my-lists #list-of-lists li{
    padding: 10px;
    font-size: 30px;
    background-color: rgba(119, 0, 255, 0.24);
    border-bottom: 2px solid rgb(88, 8, 179);
    border-radius: 5px;
}


